@forward "globals"; //take automaticly _index.scss of globals
@use "./utils/" as u;

.box {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(100px, 1fr);
    &__ctn {
        width: clamp(100px, 30%, 300px);
        height: 100px;
        background-color: rgb(215, 251, 159);
        border-radius: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: black;
        font-size: clamp(1rem, 1vw, 2rem);
        @include u.breakpoint(large) {
            background-color: purple;
        }
    }
}
